.inputfield {
  background: rgba(255,255,255);
  border: none;
  position: relative;
  display: block;
  outline: none;
  width: 70%;
  height: 30p;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

/*
=== Grid areas ===
*/
.area {
  color: #fff;
  padding: 10px;
  font-size: 150%; 
}

.header {
  grid-area: header;
  width: 100vw;
}

.sidebar {
  grid-area: sidebar;
}


/*
=== LAYOUT ON DIFFERENT SCREEN SIZES ===
*/

/*
--- Default: Mobile size screen ---
One single column with all areas in separate rows.
*/
.wrapper {
  display: grid;
  grid-template-rows: 50px auto;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "sidebar"
}

/*
--- Big screen ---
Three columns, sidebar, big content area
*/
@media only screen and (min-width: 600px)   {
  .wrapper {
    grid-template-rows: 50px auto;
    grid-template-columns: 300px auto;
    grid-gap: 20px;
    grid-template-areas:
      "header header"
      "sidebar color2";
  }
}